.mw-logo-wordmark {
	font-size: 1.25rem;
	font-weight: var( --font-weight-semi-bold );
	line-height: 1;
	color: var( --color-emphasized );

	img& {
		display: block;
		height: auto;
		max-width: 100%;
		margin: 0;
	}

	@media ( min-width: @min-width-breakpoint-tablet ) {
		font-size: 2rem;
		white-space: nowrap;
	}
}
