{{!
	
}}
{{#wordmark}}
<img class="mw-logo-wordmark" alt="{{msg-sitetitle}}"
	src="{{src}}"{{#wordmark-width}} style="width: {{.}};"{{/wordmark-width}}>
{{/wordmark}}
{{^wordmark}}
<div class="mw-logo-wordmark">{{msg-sitetitle}}</div>
{{/wordmark}}
